<div class="dash-content">
  <div class="cards-toolbar">
    <h2 style="margin: 0;">{{setTitle}}<span *ngIf="hasUnsavedChanges" style="color:red">*</span></h2>
    <button mat-icon-button class="mat-small-icon-button" color="primary" (click)="editCollection()">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-flat-button color="primary" (click)="addLane()">
      <mat-icon>add</mat-icon>
      <span>Lane</span>
    </button>
    <button mat-flat-button color="primary" (click)="startNewCollection()">
      <mat-icon>description</mat-icon>
      <span>New Collection</span>
    </button>
    <button mat-flat-button color="primary" (click)="saveDb()">
      <mat-icon>save</mat-icon>
      <span>Save</span>
    </button>
    <button mat-flat-button color="primary" (click)="loadDb()">
      <mat-icon>file_open</mat-icon>
      <span>Load</span>
    </button>

    <div style="flex-grow: 1;"></div>

    <div>v{{version}}</div>

    <button mat-flat-button color="primary" (click)="importData()">
      <mat-icon>file_download</mat-icon>
      <span>Import</span>
    </button>
    <button mat-flat-button color="primary" (click)="exportData()">
      <mat-icon>file_upload</mat-icon>
      <span>Export</span>
    </button>
  </div>

  <div class="cards-container-scroller">

    <div class="cards-container"
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="laneDrop($event)"

    cdkDropListGroup
    >

      <div class="cards-lane" *ngFor="let lane of lanes"
        cdkDrag

        cdkDropList
        [cdkDropListData]="lane"
        (cdkDropListDropped)="cardDrop($event)"
      >
        <h4 class="lane-title">{{lane.title}}</h4>
        <div style="display: flex;">
          <button mat-icon-button class="mat-small-icon-button" color="primary" (click)="newCard( lane )">
            <mat-icon>add</mat-icon>
          </button>
          <span style="flex-grow: 1;"></span>
          <button mat-icon-button class="mat-small-icon-button" color="primary" (click)="cleanupLane( lane )">
            <mat-icon>cleaning_services</mat-icon>
          </button>
          <button mat-icon-button class="mat-small-icon-button" color="primary" (click)="editLane( lane )">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button class="mat-small-icon-button" color="primary" (click)="removeLane( lane )">
            <mat-icon>delete</mat-icon>
          </button>
        </div>

        <app-card class="cards-item" *ngFor="let item of lane.cards" [data]="item" cdkDrag></app-card>
      </div>

    </div>

  </div>

</div>
