@use "../../theme";

// @use '@angular/material' as mat;
// $my-indigo-palette: mat.define-palette(mat.$indigo-palette);
// .lane-title {
// //  background: mat.get-color-from-palette($my-indigo-palette, '500');
//   color: mat.get-color-from-palette($my-indigo-palette, '500-contrast');
// }

:host {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.dash-content {
  background-color: theme.$dash-content-bgnd;
  padding: 8px;

  flex-grow: 1;

  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: 8px;
}

.cards-toolbar {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.cards-container-scroller {
  background-color: theme.$cards-container-scroller-bgnd;

  // overflow-y: scroll;
  overflow: auto;
  // overflow: scroll;

  flex-grow: 1;
}

.cards-container {
  background-color: theme.$cards-container-bgnd;
  width: 100%;

  flex-grow: 1;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.cards-lane {
  // max-width: 250px;
  width: 150px;
  min-width: 150px;
  // height: 100%;

  border: solid 1px black;
  // overflow: hidden;
  // this gets rid of annoying scrollbar because 1px border adds to the lane 100% height
  box-sizing: border-box;

  background-color: theme.$cards-lane-bgnd;

  display: flex;
  flex-direction: column;
}





.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  border: 0px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cards-lane.cdk-drop-list-dragging .cards-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cards-container.cdk-drop-list-dragging .cards-lane:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
