<input type="file" class="file-input" [accept]="requiredFileType" (change)="onFileSelected()" #fileUpload>

<div class="file-upload">

   {{fileName || "No file selected."}}

    <button cdkFocusInitial mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
    </button>
</div>
