<div class="card-strip" [style.background-color]="typeColour"></div>

<div class="card-content" [class.card-state-done]="data.done">
  {{data.text}}
</div>

<div class="card-actions" *ngIf="!data.done">
  <button mat-icon-button class="mat-small-icon-button" color="primary" aria-label="Mark card as done" (click)="cardDone()">
    <mat-icon>done</mat-icon>
  </button>
  <button mat-icon-button class="mat-small-icon-button" color="primary" aria-label="Delete card" (click)="cardDeleted()">
    <mat-icon>close</mat-icon>
  </button>
  <button mat-icon-button class="mat-small-icon-button" color="primary" aria-label="Delete card" (click)="cardCancelled()">
    <mat-icon>block</mat-icon>
  </button>
  <button mat-icon-button class="mat-small-icon-button" color="primary" aria-label="Delete card" (click)="cardEdit()">
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-icon-button class="mat-small-icon-button" [color]="detailsColour" aria-label="View card description" (click)="cardViewDescription()">
    <mat-icon>description</mat-icon>
  </button>
</div>
