@use "../../theme";

:host {
  margin-top: 8px;
  border-top: solid black 1px;
  border-bottom: solid 1px black;

  box-sizing: border-box;

  background-color: theme.$card-host-bgnd;

  display: flex;
  flex-direction: column;
}

.card-strip {
  height: 16px;
  border-bottom: solid 1px black;
}

.card-content {
  padding: 8px;
  background-color: theme.$card-content-bgnd;
}

.card-content.card-state-done {
  background-color: theme.$card-state-done-bgnd;
}

.card-actions {
  background-color: theme.$card-host-bgnd;
}
