<h1 mat-dialog-title>Import card collection</h1>
<div mat-dialog-content>
  <p>Summary</p>
  <div>
    <p>{{this.result.collection.title}}</p>
    <p>{{this.result.collection.lanes.length}}</p>
    <p>{{message}}</p>
  </div>
  <app-select-import-file (fileSelected)="onFileSelected($event)"></app-select-import-file>
</div>
<div mat-dialog-actions>
  <button mat-flat-button (click)="onCancel()">Dismiss</button>
  <button mat-flat-button color="primary" [disabled]="!canSubmit" [mat-dialog-close]="result" cdkFocusInitial>OK</button>
</div>
