<h1 mat-dialog-title>{{dialogTitle}}</h1>
<ng-container *ngIf="!readOnly">

  <mat-dialog-content class="mat-typography">
    <p>Title</p>
    <mat-form-field appearance="fill" class="width-100-pct">
      <input matInput (keyup.enter)="onEnterKey()" [(ngModel)]="result.text" cdkFocusInitial onfocus="this.select()">
    </mat-form-field>

    <p>Type</p>
    <mat-form-field appearance="fill">
      <!-- <mat-label>Type</mat-label> -->
      <mat-select [(ngModel)]="result.type">
        <mat-select-trigger style="display: flex; flex-direction: row;">
          <mat-icon [style.color]="resultTypeColour" style="margin-right: 16px;">label</mat-icon>
            <span>{{result.type || ''}}</span>
        </mat-select-trigger>

        <mat-option *ngFor="let ctype of cardTypes" [value]="ctype.label">
          <mat-icon [style.color]="ctype.colour">label</mat-icon>
          {{ctype.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <p>Details</p>
    <button mat-flat-button (click)="showPreview = !showPreview">Toggle preview</button>
    <mat-form-field *ngIf="!showPreview" appearance="fill" class="width-100-pct">
      <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="10" [(ngModel)]="result.details"></textarea>
    </mat-form-field>
    <markdown *ngIf="showPreview" [data]="result.details">
    </markdown>
  </mat-dialog-content>
  <div mat-dialog-actions>
    <button mat-flat-button (click)="onCancel()">Dismiss</button>
    <button mat-flat-button color="primary" [mat-dialog-close]="result">OK</button>
  </div>

</ng-container>
<ng-container *ngIf="readOnly">

  <mat-dialog-content class="mat-typography">
    <p>Title</p>
    <h2>{{result.text}}</h2>
    <p>Details</p>
    <markdown [data]="result.details">
    </markdown>
  </mat-dialog-content>
  <div mat-dialog-actions>
    <button mat-flat-button color="primary" [mat-dialog-close]="result">OK</button>
  </div>

</ng-container>
