<h1 mat-dialog-title>{{dialogTitle}}</h1>
<div mat-dialog-content>
  <p>Title</p>
  <mat-form-field appearance="fill">
    <!-- <mat-label>Text</mat-label> -->
    <input matInput (keyup.enter)="onEnterKey()" [(ngModel)]="result.title" cdkFocusInitial onfocus="this.select()">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-flat-button (click)="onCancel()">Dismiss</button>
  <button mat-flat-button color="primary" [mat-dialog-close]="result">OK</button>
</div>
