@use "palette";

$primary: green;
$primary-2: red;

$neutral: gray;
$neutral-2: silver;

$accent: orange;



$dash-content-bgnd: cornflowerblue;
$cards-container-scroller-bgnd: rgb(127, 255, 80);
$cards-container-bgnd: coral;
$cards-lane-bgnd: darkcyan;

$card-host-bgnd: beige;
$card-content-bgnd: beige;

$card-state-done-bgnd: lightgray;



// $dash-content-bgnd: palette.$color-primary-3;
// $cards-container-scroller-bgnd: palette.$color-primary-3;
// $cards-container-bgnd: palette.$color-primary-3;
// $cards-lane-bgnd: palette.$color-primary-0;

// $card-host-bgnd: palette.$color-primary-1;
// $card-content-bgnd: palette.$color-primary-1;

// $card-state-done-bgnd: palette.$color-primary-2;





// https://material.angular.io/guide/theming
// https://m2.material.io/design/color/the-color-system.html

// https://github.com/Ignigena/material-color-tool
// https://m2.material.io/inline-tools/color/


// http://mcg.mbitson.com/#!?primary=%23303e73&secondary2=%23408e2f&secodary1=%236a266f
