/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-root {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: stretch;
}

@import "mat-icon-button-size.mixin";

@include MatIconButtonSize('large', 40px, 24px);
@include MatIconButtonSize('medium', 32px, 19px);
@include MatIconButtonSize('small', 26px, 16px);
@include MatIconButtonSize('tiny', 20px, 12px);


.width-100-pct {
  width: 100%;
}
