<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <p>{{data.message}}</p>
</div>
<div mat-dialog-actions>
  <button mat-flat-button (click)="onCancel()">No</button>
  <button mat-flat-button color="primary" (click)="onYes()" cdkFocusInitial>Yes</button>
</div>
